<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crypto News Articles</title>
        <style>
            .center {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Crypto News of the Day</h1>
        </div>
        <hr>

        <form method="POST" action="/articles">
            <div class="center">
                <button type="submit">Save Checked Articles</button>
            </div>
            <hr>
            <div>
                <table>
                    <tr data-th-each="l: ${listOfArticles}">
                        <td>
                            <img data-th-src="${l.getImageurl}" width="200" height="200">
                            <br>
                            <span>ID:</span>
                            <span data-th-text="${l.getId}">id</span>
                            <br>
                            <h3><span data-th-text="${l.getTitle}">title</span></h3>
                            <br>
                            <span data-th-text="${l.getBody}">body</span>
                            <br>
                            <br>
                            <span>Link to full article:</span>
                            <a data-th-href="${l.getUrl}"><span data-th-text="${l.getUrl}"></span></a>
                            <br>
                            <br>
                            <span>Categories:</span>
                            <span data-th-text="${l.getCategories}">categories</span>
                            <br>
                            <span>Tags:</span>
                            <span data-th-text="${l.getTags}">tags</span>
                            <br>
                            <br>
                            <span>Published:</span>
                            <span data-th-text="${l.getPublished_on}">published</span>
                            <br>
                            <br>
                            <label>
                                <input type="checkbox" name="flag" value="1"/> Save Article
                            </label>
                            <br>
                            <input type="hidden" name="imageurl" data-th-value="${l.getImageurl}">
                            <input type="hidden" name="id" data-th-value="${l.getId}">
                            <input type="hidden" name="title" data-th-value="${l.getTitle}">
                            <input type="hidden" name="body" data-th-value="${l.getBody}">
                            <input type="hidden" name="url" data-th-value="${l.getUrl}">
                            <input type="hidden" name="categories" data-th-value="${l.getCategories}">
                            <input type="hidden" name="tags" data-th-value="${l.getTags}">
                            <input type="hidden" name="published" data-th-value="${l.getPublished_on}">
                            
                            <!-- <form method="POST" action="/news">
                                <label>
                                    <input type="checkbox"/> Save Article
                                </label>
                            </form> -->
                            <br>
                            <hr>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</html>